:root {
	--moderate-violet: hsl(263, 55%, 52%);
	--very-dark-grayish-blue: hsl(217, 19%, 35%);
	--very-dark-blackish-blue: hsl(219, 29%, 14%);
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(0, 0%, 81%);
	--light-greyish-blue: hsl(210, 46%, 95%);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: 13px;
	margin: 0;
	background-color: var(--light-grey);
	color: white;
}

.testimonial-cards {
	margin:60px 20px;
}

.purple-card {
	background-color: var(--moderate-violet);
}

.dark-grey-card {
	background-color: var(--very-dark-grayish-blue);
}

.navy-blue-card {
	background-color: var(--very-dark-blackish-blue);
}

.sm-white-card, .lg-white-card {
	background-color: var(--white);
	color: var(--very-dark-grayish-blue);
}

.purple-card, .dark-grey-card, .navy-blue-card, .sm-white-card, .lg-white-card {
	padding: 25px;
}


.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
