:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(0, 0%, 81%);
  --light-greyish-blue: hsl(210, 46%, 95%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  margin: 0;
  background-color: var(--light-greyish-blue);
  color: white;
  min-height: 100vh;
}

h1 {
  margin: 0;
  font-size: 15px;
}

h2 {
  padding-right: 10px;
}

p {
  margin: 0;
}

img {
  border-radius: 50%;
  width: 35px;
  margin-right: 15px;
}

.testimonial-cards {
  margin: 60px 20px;
}

.purple-card {
  background-color: var(--moderate-violet);
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 25px;
}

.daniel-border {
  border: 2.5px solid rgba(255, 255, 255, 0.356);
}

.dark-grey-card {
  background-color: var(--very-dark-grayish-blue);
}

.navy-blue-card {
  background-color: var(--very-dark-blackish-blue);
}

.patrick-border {
  border: 2.5px solid var(--moderate-violet);
}

.sm-white-card,
.lg-white-card {
  background-color: var(--white);
  color: var(--very-dark-grayish-blue);
}

.purple-card,
.dark-grey-card,
.navy-blue-card,
.sm-white-card,
.lg-white-card {
  padding: 35px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.picture-and-name {
  display: flex;
}

.graduate {
  color: rgba(255, 255, 255, 0.5);
}

.graduate-dark {
  color: hsl(217, 19%, 35%, 0.5);
}

.review-text {
  color: rgba(255, 255, 255, 0.75);
}

.review-text-dark {
  color: hsla(217, 19%, 35%, 0.75);
}

.review-text,
.review-text-dark {
  line-height: 20px;
  padding-right: 17px;
}

.attribution {
  font-size: 12px;
  text-align: center;
  color: var(--very-dark-blackish-blue);
  position: relative;
  top: -15px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*try to use a grid layout instead of a flex layout*/

@media (min-width: 1440px) {

  h2 {
    padding-right: 20px;
  }

  .review-text {
    padding-right: 10pxpx;
  }

.testimonial-cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: auto;
  gap: 2rem;
  margin: 20px 140px;
  justify-content: center;
  align-content: center;
} 

.purple-card {
  order: 1;
  grid-column: 1 / 2 span;
  margin-bottom: 0px;
}

.dark-grey-card {
  order: 2;
  margin-bottom: 0px;
}

.lg-white-card {
  order: 3;
  grid-column: span 1;
  grid-row: span 2;
  margin-bottom: 0px;
}

.navy-blue-card {
  order: 5;
  margin-bottom: 0px;
  grid-column: 2 / 2 span;
}

.sm-white-card {
  order: 4;
  grid-row: 2 / 0;
  grid-column: 1 / 1;
  margin-bottom: 0px;
}

.purple-card, .dark-grey-card, .sm-white-card, .navy-blue-card .lg-white-card{
  padding: 30px 30px 30px 30px;
}

.attribution {
  position: relative;
  top: 20px;
}

  /* .testimonial-cards {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	margin: 100px;
	align-content: stretch;
  }

  .purple-card {
	  flex-basis: 500px;
	  order: 1;
	  margin-right: 25px;
	  height: 244px;
  }

  .dark-grey-card {
	  flex-basis: 200px;
	  height: 244px;
	  order: 2;
	  margin-right: 25px;
  }

  .sm-white-card {
	  flex-basis: 200px;
	  height: 244px;
	  order: 4;
	  margin-right: 25px;
	  /*position: absolute;
	  bottom: 126px;*/
  }

  /*

  .lg-white-card {
	  flex-basis: 200px;
	  order: 3;
  }

  .navy-blue-card {
	  flex-basis: 500px;
	  height: 244px;
	  order: 5;
	  margin-right: 25px;
	  /*position: absolute;
	  bottom: 126px;
	  left: 435px;*/
  } 
}
